/*
Abajo del menu, intentar hacer una cortina del color #e9d8a6; que vaya bajando (con transform)
Luego con hover ir haciendo que aparezcan los cuadros 
*/





*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #001219;
}

#titulo{
    display: flex;
    justify-content: center;
    background: #001219;
    color: #e9d8a6;
    text-align: center;
    line-height: 100px;
    margin-top: 0px;
    border: 2px solid #e9d8a6;
}

#menu ul{
    display: flex;
    justify-content: center;
    background: #001219;
    border-bottom: 2px solid #e9d8a6;
}

#menu ul li{
    display: block;
    line-height: 50px;
    margin: 10px;
    

}

#menu ul li a{
    text-decoration: none;
    color: #d4a373;
}

#menu ul li a:hover{
    border-radius: 5px;
    color: black;
    background-color: #e9d8a6;
    padding: 7px;
    transition: 300ms;
    
}